@import url("https://fonts.googleapis.com/css?family=Roboto+Mono:400,400i&display=swap");
@import url("https://fonts.googleapis.com/css?family=BioRhyme+Expanded:700&display=swap");

@font-face {
    font-family: Bizz Hist;
    src: url(../font/bizz-hist.otf);
}

* {
    box-sizing: border-box;
}
:root {
    --color-main: aquamarine;
    --color-bg: rgba(28, 28, 28, 1);
    --color-bg-trns: rgba(28, 28, 28, 0);
    --blend-mode: multiply;
    --nav-height: 50px;
    --color-overlay: aquamarine;
}

h1::selection,
h2::selection,
h3::selection,
h4::selection,
h5::selection,
h6::selection,
p::selection,
a::selection,
li::selection,
button::selection {
    color: var(--color-bg);
    background-color: var(--color-main);
}
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    font-size: 1rem;
}
p {
    margin: 0;
}
h1 {
    font-size: 1.8rem;
    font-family: "BioRhyme Expanded", serif;
    margin-bottom: 0.6rem;
}
html,
body {
    scroll-behavior: smooth;
}
body {
    background-color: var(--color-bg);
    color: var(--color-main);
    font-family: "Roboto Mono", monospace;
    line-height: 1.5;
    transition: background-color 500ms ease;
}
nav {
    z-index: 888;
    background-color: var(--color-bg);
    border-bottom: 1px solid var(--color-main);
    width: 100%;
    height: var(--nav-height);
    position: fixed;
    padding: 1rem;
    top: 0;
    left: 0;
    display: flex;
    justify-content: space-between;
    transition: background-color 500ms;
}
nav p,
ul,
li {
    margin: 0;
}
ul {
    list-style: none;
    padding: 0;
    display: flex;
}
main {
    background-color: black;
    margin: 0 auto;
    max-width: 1000px;
}
.welcome-section {
    position: relative;
    overflow: hidden;
    padding-top: 40px;
    margin-bottom: 10px;
    height: 100vh;
    width: 100%;
    /* background-color: var(--color-main); */
    /* background-color: aquamarine; */
    background-image: url(../img/rzzl-bg-portfolio-bnw.gif);
    /* background-blend-mode: var(--blend-mode); */
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid var(--color-main);
    /* transition: background-blend-mode 1000ms ease; */
}
.welcome-content {
    text-align: center;
    max-width: 600px;
    z-index: 777;
    pointer-events: none;
    background-color: var(--color-bg);
    border: 1px solid var(--color-main);
    padding: 1.6rem 1rem;
}
/* .welcome-content img {
    max-width: 400px;
    mix-blend-mode: var(--blend-mode);
    margin: 0;
} */
.sticky-section:before {
    display: block;
    content: " ";
    margin-top: -50px;
    height: 50px;
    visibility: hidden;
    pointer-events: none;
}
.sticky-section {
    padding: 0;
    min-height: 100vh;
}
.sticky-title {
    z-index: 10;
    position: sticky;
    top: 50px;
    padding: 12px 0 10px 16px;
}
.project-tile {
    min-height: calc(100vh - 100px);
    width: 100%;
    display: flex;
    margin-bottom: 50px;
}
.project-info {
    padding: 0 0 30vh 32px;
    width: 300px;
    height: 100%;
    position: sticky;
    top: 96px;
}
.project-info h3 {
    z-index: 8;
    margin-bottom: 8px;
    padding: 8px 10px;
    color: var(--color-bg);
    background-color: var(--color-main);
}
.project-description p {
    margin-bottom: 2rem;
}
.project-description {
    padding: 0 0 10px 24px;
}
.project-content {
    width: 100%;
    max-width: 900px;
    display: flex;
    justify-content: left;
    margin-left: 30px;
}
.project-content-inner {
    max-width: 95%;
    height: 100%;
}
.project-content img {
    max-width: 100%;
}
.about-container,
.contact-container {
    height: calc(100vh - 100px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.about-container p {
    text-align: center;
    font-size: 2rem;
    line-height: 1.8;
    margin: 0.8rem 0;
    font-family: "BioRhyme Expanded", serif;
}
.about-tile,
.contact-tile {
    width: 800px;
    height: auto;
    padding: 0 2rem 2rem 2rem;
    margin-top: -30px;
    font-size: 1.6rem;
}
/* LINK STYLING */
a,
a:visited {
    text-decoration: none;
    color: var(--color-main);
}
a:hover {
    outline: none;
    text-shadow: 0 0 10px var(--color-main);
}
a:focus {
    outline: none;
}
/* IMAGE STYLING */

.img-eit-site-box {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 25px;
}
.img-sparklez {
    width: 40%;
    position: absolute;
    pointer-events: none;
}
.img-50-50 {
    display: flex;
    justify-content: space-between;
}
.img-50 {
    width: 48%;
}
.img-spacelamp {
    width: 100%;
    height: 96%;
    pointer-events: none;
}
.no-flex {
    display: block;
}
/* FORM STYLING */
form {
    font-family: Bizz Hist;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
form p {
    display: inline-block;
    margin: 10px 0;
}
.contact-tile form label {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
form input,
form textarea {
    color: var(--color-main);
    background-color: var(--color-bg);
    background-color: none;
    border: none;
    /* border: 1px solid var(--color-bg-trns); */
    border: 1px solid transparent;
    border-bottom: 1px solid var(--color-main);
    width: 80%;
    padding: 10px 16px;
    margin-bottom: 20px;
    transition: background-color 500ms;
    /* border-radius: 10px; */
    /* box-shadow: 0 5px 10px black; */
}
form input:focus,
form textarea:focus,
form button:focus,
form button:hover {
    outline: none;
    outline-offset: 0;
    border: 1px solid var(--color-main);
    box-shadow: 0 0 10px var(--color-main);
}
form textarea {
    min-height: 160px;
    max-height: 300px;
    display: inline-block;
    resize: vertical;
    border: 1px solid var(--color-main);
}
form button {
    padding: 16px 20px;
    border: 1px solid #1c1c1c;
    color: var(--color-bg);
    background-color: var(--color-main);
    width: 60%;
    /* border: none; */
    border-radius: 10px;
    box-shadow: 0 5px 10px black;
}
form .flex-button {
    display: flex;
    justify-content: center;
}
/* NOT WORKING YET v */
form input:-webkit-autofill,
form input:-webkit-autofill:hover,
form input:-webkit-autofill:focus,
form textarea:-webkit-autofill,
form textarea:-webkit-autofill:hover,
form textarea:-webkit-autofill:focus {
    background-color: var(--color-bg);
}

/* EXPERIMENTAL */
.darkmode {
    display: inline-block;
    height: 49px;
    width: 49px;
    padding: 1rem;
    margin: -1rem -1rem 0 1rem;
    background-color: var(--color-bg);
    color: var(--color-main);
    outline: none;
    border: none;
    border-left: 1px solid var(--color-main);
}
.darkmode:hover {
    box-shadow: 0 0 10px var(--color-main);
}

@keyframes fadein {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 100%;
    }
}

.welcome-section img {
    position: absolute;
    animation: fadein 500ms;
    pointer-events: none;
}

.colorizer {
    pointer-events: none;
    z-index: 666;
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: var(--color-overlay);
    /* background-color: var(--color-main); */
    mix-blend-mode: var(--blend-mode);
    transition: background-color 100ms;
}
svg {
    fill: var(--color-main);
    margin: 0.6rem;
}
svg:hover {
    opacity: 0.6;
}
.links {
    display: flex;
    justify-content: center;
    align-items: center;
}

@media only screen and (max-width: 60rem) {
    body {
        font-size: 14px;
    }
}
